<header>

     <style> 
    
        h1{
            color: rgb(76, 142, 228);

        }
        h2{
           color: rgb(16, 21, 27); 
        }
        div{
            border-bottom: 5px solid #44759c;
            border-top: 5px solid #44759c;

            margin-bottom: 10px;
            padding-bottom: 10px;
        }
        p {
            margin 10 ;
            color: rgb(115, 103, 224);
        }
    </style> 
</header>

<div>
    <h2>Producto </h2>
    <body>
                             
        <p>Titulo: {{producInfo.title }}</p>    
        <p>Descripcion: {{producInfo.description}}</p>                
        <p>stock: {{producInfo.stock}}</p>                
        <p>Precio: {{producInfo.price}}</p>                
        <p>Categoria: {{producInfo.category}}</p>                
        <p>Codigo: {{producInfo.code}}</p>                
        <p>Status: {{producInfo.status}}</p>                

       
    </body>
    



</div>
